---
import SceneryHero from '../assets/scenery.jpg';
import Layout from '../layouts/BlogPost.astro';
---
<Layout
  title="About Rajneesh"
  description="about me"
  pubDate={new Date('January 14 2026')}
>

<main>
	<section class="photo-strip">
		<img src="/photos/p1.jpg" alt="" />
		<img src="/photos/p2.jpg" alt="" />
		<img src="/photos/p3.jpg" alt="" />
		<img src="/photos/p4.jpg" alt="" />
	</section>

	<p>
		I’m a second-year Computer Science and Engineering student at
		JUIT Solan, with a strong interest in coding and designing.
	</p>
	<p>
		I’m currently exploring Figma to strengthen my understanding of
		UI/UX design and user-centered interfaces. I like translating
		ideas into structured designs and then implementing them through
		code.
	</p>
	<p>
		Alongside my technical interests, I’m passionate about
		photography, digital art, traveling, and adventurous activities.
		Photography plays a key role in how I observe details and tell
		visual stories. These interests further strengthened my creative
		approach.	
	</p>

	<!-- <section class="photo-gallery">
			<img src="/photos/p7.jpg" alt="" />
			<img src="/photos/p8.jpg" alt="" />
			<img src="/photos/p1.jpg" alt="" />
			<img src="/photos/p2.jpg" alt="" />
			<img src="/photos/p7.jpg" alt="" />
			<img src="/photos/p8.jpg" alt="" />
			<img src="/photos/p1.jpg" alt="" />
			<img src="/photos/p2.jpg" alt="" />
		</section> -->

</main>

