---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1 class="site-title">Rajneesh</h1>
			<p class="site-subtitle">Computer Science student · Coding & Design</p>

			<p>
				Second-year Computer Science student interested in coding and design.
			</p>

			<p>
				Focused on building clean, practical digital products through thoughtful
				problem-solving and interface design.
			</p>

			<p>
				Currently exploring UI/UX with Figma and translating ideas into structured
				designs and working code.
			</p>

			<!-- <ul>
				<li>Edit this page in <code>src/pages/index.astro</code></li>
				<li>Edit the site header items in <code>src/components/Header.astro</code></li>
				<li>Add your name to the footer in <code>src/components/Footer.astro</code></li>
				<li>Check out the included blog posts in <code>src/content/blog/</code></li>
				<li>Customize the blog post page layout in <code>src/layouts/BlogPost.astro</code></li>
			</ul> -->
			<!-- <nav class="socials">
				<a href="https://www.linkedin.com/in/bmoit/" aria-label="LinkedIn">
					 <LinkedIn /> 
					<span>LinkedIn</span>
				</a>

				<a href="https://github.com/BMOit" aria-label="GitHub">
					<GitHub /> 
					<span>GitHub</span>
				</a>

				<a href="https://x.com/yourusername" aria-label="X">
					<XIcon /> 
					<span>X</span>
				</a>

				<a href="https://www.instagram.com/rajneesh.heic/" aria-label="Instagram">
					<Instagram /> 
					<span>Instagram</span>
				</a>
			
				<a href="mailto:youremail@example.com" aria-label="Mail">
					<Mail />
					<span>Mail</span>
				</a> 
			</nav> -->
			<!-- <p>
				<a href="https://github.com/BMOit">GitHub</a>
				<a href="https://www.linkedin.com/in/bmoit/">LinkedIn</a>
				<a href="https://www.instagram.com/rajneesh.heic/">Instagram</a>
				<a href="https://astro.build/chat">join us on Discord</a> to ask questions.
			</p> -->
			<!-- <p>
				Looking for a blog template with a bit more personality? Check out
				<a href="https://github.com/Charca/astro-blog-template">astro-blog-template</a>
				by <a href="https://twitter.com/Charca">Maxi Ferreira</a>.
			</p> 
		</main>
		<Footer /> -->
			<footer class="footer">
				<nav class="footer-nav">
					<a href="/about">About</a>
					<a href="/blog">Blog</a>
					<a href="https://x.com/RajneeshHeic">Twitter</a>
					<a href="https://github.com/BMOit">GitHub</a>
					<a href="https://www.linkedin.com/in/bmoit/">LinkedIn</a>
					<a href="https://www.instagram.com/rajneesh.heic/">Instagram</a>
					<a href="https://unsplash.com/@bmoit">Unsplash</a>
				</nav>
			</footer>
		</main>
	</body>
</html>
