---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Rajneesh</h1>
			<p>
				I’m a second-year Computer Science and Engineering student at JUIT Solan,
				with a strong interest in coding and designing.I enjoy building practical,
				well-designed digital products by combining logical problem-solving with
				clean and thoughtful design.
			</p>
			<p>
				I’m currently exploring Figma to strengthen my understanding of UI/UX design and user-centered 
				interfaces. I like translating ideas into structured designs and then implementing them through code.
			</p>
			<p>Alongside my technical interests, I’m passionate about photography, digital art, traveling, and 
				adventurous activities. Photography plays a key role in how I observe details and tell visual stories. 
				These interests further strengthened my creative approach.</p>
			<ul>
				<li>Edit this page in <code>src/pages/index.astro</code></li>
				<li>Edit the site header items in <code>src/components/Header.astro</code></li>
				<li>Add your name to the footer in <code>src/components/Footer.astro</code></li>
				<li>Check out the included blog posts in <code>src/content/blog/</code></li>
				<li>Customize the blog post page layout in <code>src/layouts/BlogPost.astro</code></li>
			</ul>
			<p>
				Have fun! If you get stuck, remember to
				<a href="https://docs.astro.build/">read the docs</a>
				or <a href="https://astro.build/chat">join us on Discord</a> to ask questions.
			</p>
			<p>
				Looking for a blog template with a bit more personality? Check out
				<a href="https://github.com/Charca/astro-blog-template">astro-blog-template</a>
				by <a href="https://twitter.com/Charca">Maxi Ferreira</a>.
			</p>
		</main>
		<Footer />
	</body>
</html>
